/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/tandemrepeat Nextflow config file for modules
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines options for every module and subworkflow in the pipeline.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'NFCORE_TANDEMREPEAT:TANDEMREPEAT:INPUT_CHECK:SAMPLE_SHEET_CHECK' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_TANDEMREPEAT:TANDEMREPEAT:FASTA_INDEX' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/reference" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_TANDEMREPEAT:TANDEMREPEAT:TRF' {
        ext.args = { "${params.trf_match} ${params.trf_mismatch} ${params.trf_delta} ${params.trf_pm} ${params.trf_pi} ${params.trf_minscore} ${params.trf_maxperiod} -d -h" }
        publishDir = [
            path: { "${params.outdir}/trf" },
            mode: params.publish_dir_mode,
            pattern: "*.dat"
        ]
    }

    withName: 'NFCORE_TANDEMREPEAT:TANDEMREPEAT:ULTRA' {
        ext.args = { params.ultra_annot ? "--annotate ${params.ultra_annot}" : '' }
        publishDir = [
            path: { "${params.outdir}/ultra" },
            mode: params.publish_dir_mode,
            pattern: "*.gff*"
        ]
    }

    withName: 'NFCORE_TANDEMREPEAT:TANDEMREPEAT:VAMPIRE' {
        ext.args = { "--min-motif-size ${params.vampire_min_motif_size} --max-motif-size ${params.vampire_max_motif_size}" }
        publishDir = [
            path: { "${params.outdir}/vampire" },
            mode: params.publish_dir_mode,
            pattern: "*.bed"
        ]
    }

    withName: 'NFCORE_TANDEMREPEAT:TANDEMREPEAT:MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
